<div class="inner-view">  
<p>
  subscriptions works!
</p>
<div class="ui inverted segment">
    <div class="ui inverted relaxed divided list">
      <div class="item">
        <div class="content">
          <div class="header">Snickerdoodle</div>
          An excellent companion
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Poodle</div>
          A poodle, its pretty basic
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Paulo</div>
          He's also a dog
        </div>
      </div>
    </div>
  </div>
</div>
