.example-card {
    width: 400px;
    margin-left: 450px;
    // margin-right: auto;
    background-color: #07b032;  
    border:2px solid black;
}
  
#title {
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
}

#info {
      color: white;
      text-align: center;
}

#profile-image {
    border:2px solid black;
}  

.bot-border { 
    border-bottom:2px black solid;
    margin:5px 0  5px 0;
}

#btn { 
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 17px;
    margin-left: 10px;
    background-color: #07b032;
}

// .inner-view {
//     background-image: url('../../assets/stocks2.jpg');
//     background-repeat: no-repeat;
// 	background-attachment: fixed;
// 	background-size:     cover;                   
// 	background-position: center center;
// 	width: 83vw;
//     height: 90vh;
//     opacity: 0.8;
// }