.example-card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #07b032;  
}
  
#title {
      color: white;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
}

#info {
      color: white;
}

#profile-image {
    border:2px solid black;
}  
