
<div style="height: 100vh; background: rgba(230, 230, 230, 0.22);">
  <div class="row" style="width: 600px;">
      <div class="col s12 m6">
        <div class="card white" style="margin-top: 20vh;">
          <div class="card-content black-text">
            
            <form (submit)="login()" >
            <span class="card-title" style="font-weight: 400; color: grey;">Login</span>
            <label for="username" style="margin-top: 20px;">Username</label>
            <input name="username" [(ngModel)]="username" class="form-control" id="username" type="text" style="color: #524f4f; padding-left: 10px;">
        
            <div>
          </div>
            <label for="password">Password</label>
            <input name="password" [(ngModel)]="password" id="password" type="password" style="color: #524f4f; padding-left: 10px;">
            <div class="card-action">
                <button type="submit" class="btn btn-primary" style="margin-top: 14px; padding-left: 10px; padding-right: 10px; float: right;">
                    Login
                </button>
              </div>
          </form>
            <button type="button" class="btn" (click)="register()">Register</button>
          </div>
          
        </div>
      </div>
  </div>
</div>

