<div class="inner-view">

    
      <div class="panel panel-default" style="height: calc(100% - 8px);">
        <div class="panel-heading" style="height: 68px;"> <span style="letter-spacing: 2.5px;">{{tableHeader}}</span>
            <a class="tooltipped" data-position="right" data-delay="20" materialize="tooltip" data-tooltip="This is a list of all the companies on your Watch List" 
                style="margin-top: -6px;
                    margin-left: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    background-color: rgba(255, 255, 255, 0);">
                <i class="fa fa-info-circle" 
                    style="margin-top: 1px;
                        color: #777575;
                        font-size: 1.82rem;">
                </i>
            </a>
            <sui-search placeholder="Search Listings..."
                        hasIcon="true"
                        [options]="options"
                        [searchDelay]="0"
                        (resultSelected)="resultSelected($event)"
                        style="width: 375px;">
                        
                </sui-search>
            <!-- <div class="input-group">
                    <input style="height: 2.5rem;" type="text" class="form-control">
                    <span class="input-group-addon" style="width: 40px; height: 2.65rem;">
                        <i class="fa fa-search"></i>
                    </span>
            </div> -->
        </div>

        <div class="row" style="width: 100%; margin-left: 0px;">
          <div class="col-md-5" style="padding-right: 0px; padding-left:0px;">

    <table class="table table-striped" [mfData]="companyList" [mfActivePage] = "1" [mfRowsOnPage]="5" style="width: 100%; height: calc(100%);">
        <thead style="color: rgba(224, 224, 224, 0.94); background-color: rgba(76, 76, 76, 0.7607843137254902);">
            <tr>
                <th style="width: 18%;" 
                [style.padding-left]="this.sorter.symbol_left" [style.padding-top]="this.sorter.symbol_top">
                <mfDefaultSorter id="symbol" by="name" (click)="sort('symbol')">SYMBOL
                    <i *ngIf="this.sorter.symbol_asc" class="fa fa-sort-asc" style="padding-left: 4px;" aria-hidden="true"></i>
                    <i *ngIf="this.sorter.symbol_desc" class="fa fa-sort-desc" style="padding-left: 4px;" aria-hidden="true"></i>
                </mfDefaultSorter>
            </th>
            <th style="width: 25%;"
                [style.padding-left]="this.sorter.exchange_left" [style.padding-top]="this.sorter.exchange_top">
                <mfDefaultSorter by="name" (click)="sort('exchange')">EXCHANGE
                    <i *ngIf="this.sorter.exchange_asc" class="fa fa-sort-asc" style="padding-left: 4px;" aria-hidden="true"></i>
                    <i *ngIf="this.sorter.exchange_desc" class="fa fa-sort-desc" style="padding-left: 4px;" aria-hidden="true"></i>
                </mfDefaultSorter>
            </th>
            <th style="width: 60%; padding-left: 20px !important;"
                style.padding-left="20px" [style.padding-top]="this.sorter.name_top">
                <mfDefaultSorter by="email" (click)="sort('name')">NAME
                    <i *ngIf="this.sorter.name_asc" class="fa fa-sort-asc" style="padding-left: 4px;" aria-hidden="true"></i>
                    <i *ngIf="this.sorter.name_desc" class="fa fa-sort-desc" style="padding-left: 4px;" aria-hidden="true"></i>
                </mfDefaultSorter>
            </th>
            </tr>
        </thead>

            <tbody style="margin-right: -8px; height: calc(100% - 49px); max-height: calc(100% - 49px) !important; overflow-y: auto;">
                <div *ngIf="this.loadService.loading">
                    <div class="ui segment" style="height: calc(100vh - 206px); width: calc(98%);">
                        <div class="ui active inverted dimmer">
                            <div class="ui text loader">this.loadService.loading</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.loadService.loading == false" style="height: 100%;">
                    <tbody style="height: 100% !important; width: calc(100% - 8px);">
                    <tr *ngFor="let c of companyList | paginate: { itemsPerPage: 50, currentPage: p }; let i = index;" class="table-row" 
                        style="
                            background-color: rgba(255, 255, 255, 0.611764705882353);
                            border-bottom-style: solid;
                            border-bottom-width: 1px;
                            border-bottom-color: #c7c1c1;
                            color: rgba(37, 35, 35, 0.8705882352941177);
                            font-family: 'Arimo', sans-serif;
                            font-weight: 500;
                            letter-spacing: .5px;">
                        <td style="width: 18%; padding-left: 16px;">
                            <a class="tooltipped" data-position="bottom" data-delay="20" materialize="tooltip" data-tooltip="Remove from Watch List" 
                                style="background-color: rgba(255, 255, 255, 0);">
                                <i class="favorite icon" style="color: #ffff09; margin-left: -4px;" (click)="removeFromWatchListWithArgs(c)"></i> 
                            </a> 
                            <a (click)="openModal(c)">
                             {{c.symbol}}
                            </a>
                          </td>
                          <td style="width: 25%; padding-left: 24px;" (click)="openModal(c)">{{c.exchange}}</td>
                          <td style="width: 60%; padding-left: 24px;" (click)="openModal(c)">{{c.name}}</td>
                          <!-- <td style="width: 20%; padding-left: 0px;">{{c.sector}}</td>
                          <td style="width: 25%; padding-left: 5px;">{{c.industry}}</td>
                          <td style="width: 10%; padding-top: 10px; padding-left: 3.55%;">
                              <button type="button" class="btn btn-primary" style="padding-left: 10px; padding-right: 10px;" (click)="openModal(c)">
                                  <i class="fa fa-arrows-alt"></i>
                              </button>
                          </td> -->
                    </tr>
                    </tbody>
                </div>
            </tbody>
        <tfoot style="display: none;">
        <tr>
            <td colspan="4">
                <pagination-controls (pageChange)="p = $event" style="text-align: center;"></pagination-controls>
            </td>
        </tr>
        </tfoot>
    </table>

  </div>

  <div class="col-md-7" style="padding-left: 0px; padding-right:0px;">
        <div *ngIf="this.loadService.loading">
                <div class="ui segment" style="height: calc(100vh - 157px); border: none; border-radius: 0px !important;">
                    <div class="ui active inverted dimmer">
                        <div class="ui text loader">this.loadService.loading</div>
                    </div>
                </div>
            </div>

        <div *ngIf="this.loadService.theres_nothing_here">
                <div class="ui segment" style="height: calc(100vh - 157px);
                                                border: none;
                                                border-radius: 0px;
                                                background: #efeff4;
                                                font-size: 19px;
                                                color: #a7a7a7;
                                                font-weight: 100;
                                                text-align: center;
                                                padding-top: calc(100vh - 495px);">

                    You currently have no companies in your Watch List
                </div>
            </div>
    <div *ngIf="!this.loadService.theres_nothing_here && !this.loadService.loading">
    <div style="width: 100%;">
        <div class="header" style="
        height: 48px;
        background-color: rgb(237, 237, 242);
        padding-top: 11px;
        padding-left: 20px;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid #c3c3c3;
        border-left: 1px solid #c3c3c3;
        color: #737474;
        ">
        <span>
          {{this.currentCompany.symbol}} &ensp; 
          
            <a class="tooltipped" data-position="bottom" data-delay="20" materialize="tooltip" data-tooltip="Remove from Watch List" 
            style="margin-top: -6px;
                margin-left: -15px;
                padding-left: 10px;
                padding-right: 10px;
                background-color: rgba(255, 255, 255, 0);
                ">
                <i class="favorite icon" style="color: #ffff09;" (click)="removeFromWatchList()"></i> 
            </a> 
            |  &ensp; 
        
            {{this.currentCompany.name}}
        </span>
             <button style="background-color:transparent;
             border: none; float: right;" 
             (click)="refreshModal()">
              <i class="fa fa-refresh" 
                  style="margin-top: -2px;
                          margin-right: 15px;
                          float: right;
                          color: #737474;
                          font-size: 24px;"
                  aria-hidden="true">
              </i>
            </button>
        </div>
        <div style="height: calc(100vh - 205px); background-color:rgb(239, 239, 244);">
            <div class="content" style="height: 100%; width: 100%; overflow-y:auto; overflow-x: hidden; border-left: 1px solid #c3c3c3;">

            <div class="row">
                    <div class="ui segment" style="
                    width: 46.6vw;
                    margin-top: 5px;
                    margin-left: 17px;
                    height: 70px;
                    padding-top: 23px;">
                        <div class="row">
                            <div class="col-md-5" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding-left: 11px;">
                                <span style="font-weight: bold; color: #636363;">Sector:</span> &ensp; <span style="color: #565656;">{{this.currentCompany.sector}}</span>
                            </div>
                            <div class="col-md-7" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; border-left: 1px solid #c3c3c391;">
                                <span style="font-weight: bold; color: #636363;">Industry:</span> &ensp; <span style="color: #565656;">{{this.currentCompany.industry}}</span>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="row">
                        <div class="ui segment" style="
                        width: 46.6vw;
                        margin-top: 5px;
                        margin-left: 17px;
                        height: 71px;">

                        <sui-select class="selection" [(ngModel)]="this.alphaVantage.selectedFunction" [options]="function_options" (selectedOptionChange)="selectedFunctionEvent($event)" #function_select>
                                <sui-select-option *ngFor="let option of function_options" [value]="option">
                                </sui-select-option>
                            </sui-select>
                        <sui-select class="selection" [(ngModel)]="selectedInterval" [options]="interval_options" [isDisabled]="interval_disabled" (selectedOptionChange)="selectedIntervalEvent($event)" #interval_select>
                                <sui-select-option *ngFor="let option of interval_options" [value]="option">
                                </sui-select-option>
                        </sui-select>

                        <span style="font-weight: bold; color: #636363; margin-left: 13px;">Last Updated:</span> &ensp; <span style="color: #565656;"> {{getCurrentDate()}} at {{getCurrentTime()}} </span>
                        </div>
                </div>

                <!-- <div class="row" style="margin-top: 4px; margin-left: -10px;">
                        <div class="col-md-12">
                              <div class="ui segment" style="width: 46.65vw; height: 533px; padding-top: 16px; margin-top: 1px;">

                              <div id="tv-container-2"></div>                    
                              </div>            
                        </div>
                    </div> -->

                <!-- <div class="row">
                      <div class="col-md-12">
                      <div class="ui segment" style="
                        width: 46.6vw; 
                        height: 83vh; 
                        padding-top: 4vh; 
                        margin-top: 5px;
                            margin-left: 2px;">
                          <div style="display: block;">
                        <div *ngIf="this.loadService.loading_chart">
                            <div class="ui segment" style="height: 585px; border: none;">
                                <div class="ui active inverted dimmer">
                                    <div class="ui text loader">this.loadService.loading</div>
                                </div>
                            </div>
                        </div>

                          <canvas class="side-menu-chart" *ngIf="this.loadService.loading_chart == false" baseChart
                                      [datasets]="lineChartData"
                                      [labels]="lineChartLabels"
                                      [options]="lineChartOptions"
                                      [colors]="lineChartColors"
                                      [legend]="lineChartLegend"
                                      [chartType]="lineChartType"
                                      (chartHover)="chartHovered($event)"
                                      (chartClick)="chartClicked($event)"
                                      
                                      style="
                                        display: block;
                                        width: 40vw !important;
                                        height: 70vh !important;
                                        margin-top: 18px;
                                        margin-left: 38px !important;
                                      ">
                            </canvas>
                          </div>
                        </div>
                        </div>
                </div> -->
                <div class="row" style="margin-top: 4px; margin-left: -10px;">
                        <div class="col-md-6" style="margin-bottom: 10px">
                            <div class="ui segment" style="width: 46.65vw; height: 37.4vh; padding-top: 16px; margin-top: 1px;">
                            <table class="ui celled table" style="margin-left: 0px; width: 350px;">
                                    <thead><tr style="height: 34px;"><th colspan="2">OHLC Outlook <span style="font-weight: 200;"> &ensp; {{this.alphaVantage.ohlc_outlook_type}}</span></th></tr></thead>
                                    <tbody style="    
                                      height: 219px;
                                      overflow: hidden;">
                                      <tr>
                                        <td style="width: 110px;">
                                          <div class="ui ribbon label" style="width: 110px; height: 29px; padding-left: 37px;">Open</div>
                                        </td>
                                        <!-- <td *ngIf="this.loadService.loading_chart"><div class="ui active inline loader"></div></td> -->
                                        <td style="background: white;">
                                            <div>
                                                <div class="ui segment" style="height: 20px;">
                                                    <div class="ui active mini inverted dimmer" style="margin-top: 9px; height: 8px; background: transparent;">
                                                        <div *ngIf="this.loadService.loading_chart" class="ui mini loader"></div>
                                                        <div *ngIf="this.loadService.loading_chart == false" 
                                                             style="text-align: center; padding-top: 0px; font-weight: 400;">
                                                             {{this.alphaVantage.ohlc_outlook.open}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                      </tr>
                                      <tr>
                                        <td style="width: 110px;">
                                          <div class="ui ribbon label" style="width: 110px; height: 29px; padding-left: 37px;">High</div>
                                        </td>
                                        <td style="background: white;">
                                            <div >
                                                <div class="ui segment" style="height: 20px;">
                                                    <div class="ui active mini inverted dimmer" style="margin-top: 9px; height: 8px; background: transparent;">
                                                        <div *ngIf="this.loadService.loading_chart" class="ui mini loader"></div>
                                                        <div *ngIf="this.loadService.loading_chart == false" 
                                                             style="text-align: center; padding-top: 0px; font-weight: 400;">
                                                             {{this.alphaVantage.ohlc_outlook.high}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="width: 110px;">
                                          <div class="ui ribbon label" style="width: 110px; height: 29px; padding-left: 37px;">Low</div>
                                        </td>
                                        <td style="background: white;">
                                            <div >
                                                <div class="ui segment" style="height: 20px;">
                                                    <div class="ui active mini inverted dimmer" style="margin-top: 9px; height: 8px; background: transparent;">
                                                        <div *ngIf="this.loadService.loading_chart" class="ui mini loader"></div>
                                                        <div *ngIf="this.loadService.loading_chart == false" 
                                                             style="text-align: center; padding-top: 0px; font-weight: 400;">
                                                             {{this.alphaVantage.ohlc_outlook.low}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="width: 110px;">
                                          <div class="ui ribbon label" style="width: 110px; height: 29px; padding-left: 37px;">Close</div>
                                        </td>
                                        <td style="background: white;">
                                            <div >
                                                <div class="ui segment" style="height: 20px;">
                                                    <div class="ui active mini inverted dimmer" style="margin-top: 9px; height: 8px; background: transparent;">
                                                        <div *ngIf="this.loadService.loading_chart" class="ui mini loader"></div>
                                                        <div *ngIf="this.loadService.loading_chart == false" 
                                                             style="text-align: center; padding-top: 0px; font-weight: 400; padding-left: 12px;"
                                                             [style.color]="this.alphaVantage.closing_color_indicator">
                                                             {{this.alphaVantage.ohlc_outlook.close}}
                                                             <i [class]="this.alphaVantage.closing_icon_class" [style.color]="this.alphaVantage.closing_color_indicator" aria-hidden="true"></i>
                                                             {{this.alphaVantage.closing_percent}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div>

                        <div class="col-md-6" style="margin-bottom: 10px">
                            <div class="ui segment" style="
                              width: 22.4vw;
                              float: right;
                              height: 33.1vh;
                              margin-top: 18px;
                              margin-right: 15px;">
                                <div *ngIf="this.loadService.loading_chart" class="ui active mini inverted dimmer" style="margin-top: 15vh; height: 8px; background: transparent;">
                                    <div  class="ui medium loader"></div>
                                </div>
                              <div *ngIf="this.loadService.loading_chart == false" class="ui statistic" style="width: 100%; margin-top: 65px;">
                                <div class="value">
                                    {{this.alphaVantage.ohlc_outlook.volume}}
                                </div>
                                <div class="label">
                                  Volume
                                </div>
                              </div>
                              </div>
                        </div>
                      </div>

                      <div class="row" style="margin-left: -10px;">
                          <div class="col-md-12">
                                <div class="ui segment" style="width: 46.65vw; height: 385px; padding-top: 16px; margin-top: -4px;">

                                <div id="tv-container"></div>                    
                                </div>            
                          </div>
                      </div>


            </div>
          
        </div>
    </div>
</div>
  </div>
</div>

    </div>
    </div>
    